&nbsp;
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
</mat-form-field>&nbsp;
<div *ngIf="user.perfil != 'VENDEDOR'">
  <button mat-raised-button color="primary" (click)="addUser()">Incluir</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Login </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="perfil">
    <th mat-header-cell *matHeaderCellDef> Perfil </th>
    <td mat-cell *matCellDef="let element"> {{element.perfil}} </td>
  </ng-container>

  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef> Ação </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="!(user.perfil == 'GERENTE' && element.perfil == 'ADMIN') && user.perfil != 'VENDEDOR'">
        <button mat-raised-button (click)="editUser(element)">Editar</button>&nbsp;
        <button mat-raised-button (click)="confirmDeleteUser(element)">Excluir</button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
