<form [formGroup]="formPedido" (ngSubmit)="onSubmit()">
<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dados Gerais
      </mat-panel-title>
      <mat-panel-description>
        Informações gerais do pedido
        <mat-icon>info</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field>
        <mat-select placeholder="Produto" name="produto" id="produto" formControlName="produto">
          <mat-option value="SOJA">SOJA</mat-option>
          <!--
          <mat-option value="MILHO">MILHO</mat-option>
          <mat-option value="SORGO">SORGO</mat-option>
          <mat-option value="FEIJÃO">FEIJÃO</mat-option>
          <mat-option value="ARROZ">ARROZ</mat-option>
          <mat-option value="MILHETO">MILHETO</mat-option>
          -->
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" min="1" name="qtSacos" id="qtSacos" formControlName="qtSacos" placeholder="Quantidade de Sacos (60kg)">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="text" name="titular_banco" id="titular_banco" placeholder="Titular">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="cpf_banco" id="cpf_banco" placeholder="CPF">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="agencia_banco" id="agencia_banco" placeholder="Agência">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="conta_banco" id="conta_banco" placeholder="Conta">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="nome_banco" id="nome_banco" placeholder="Nome do Banco">
      </mat-form-field>
    </div>
    <mat-action-row>
      <button mat-button type="button" color="primary" (click)="nextStep()">Próximo</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Compra e Venda
      </mat-panel-title>
      <mat-panel-description>
        Informações do Comprador e Vendedor
        <mat-icon>ballot</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
    <mat-grid-list cols="2">
      <mat-grid-tile>
      <div>
        <!--<mat-card>
          <mat-card-header>
            <mat-card-title>Compra</mat-card-title>
            <mat-card-subtitle>Informações do Comprador</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>-->
            <app-fornecedor></app-fornecedor>
          <!--</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Compra</mat-card-title>
            <mat-card-subtitle>Informações de Compra</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>-->
            <div>
            <mat-form-field>
              <mat-select placeholder="Filial Compra" name="filialCompra" id="filialCompra">
                <mat-option value="GO">GO</mat-option>
                <mat-option value="MG">MG</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Atividade Compra" name="tipoAtividadeCompra" id="tipoAtividadeCompra" formControlName="tipoAtividadeCompra">
                <mat-option value="PROD">PRODUÇÃO</mat-option>
                <mat-option value="COOPERATIVA">COOPERATIVA</mat-option>
                <mat-option value="CEREALISTA">CEREALISTA</mat-option>
              </mat-select>
            </mat-form-field>
            </div>
            <div>
              <span>
                <label>Frete: </label>
                <mat-radio-group>
                  <mat-radio-button value="N" name="possuiFreteCompra" id="possuiFreteCompra_N" checked >
                    Não&nbsp;&nbsp;&nbsp;
                  </mat-radio-button>
                  <mat-radio-button value="S" name="possuiFreteCompra" id="possuiFreteCompra_S" >
                    Sim&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </mat-radio-button>
                </mat-radio-group>
              </span>
              <mat-form-field>
                <input matInput type="number" min="1" name="compraFrete" id="compraFrete" placeholder="Valor do Frete/Ton" formControlName="compraFrete">
              </mat-form-field>
            </div>
            <div>
              <span>
                <label>Corr.: </label>
                <mat-radio-group>
                  <mat-radio-button value="N" name="possuiCompraCorretor" id="possuiCompraCorretor_N" checked>
                    Não&nbsp;&nbsp;&nbsp;
                  </mat-radio-button>
                  <mat-radio-button value="S" name="possuiCompraCorretor" id="possuiCompraCorretor_S">
                    Sim&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </mat-radio-button>
                </mat-radio-group>
              </span>
              <mat-form-field>
                <input matInput type="number" min="1" name="compraCorret" id="compraCorret" placeholder="Valor Comissão" formControlName="compraCorret">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput type="text" name="empresa" id="empresa" placeholder="Empresa" formControlName="empresa">
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Safra" name="safra" id="safra" formControlName="safra">
                  <mat-option value="{{ safraValorInicial }}">{{ safraValorInicial }}</mat-option>
                  <mat-option value="{{ safraValorFinal }}">{{ safraValorFinal }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <span>
                <label>Pró-Rural: </label>
                <mat-radio-group>
                  <mat-radio-button value="N" name="possuiProRural" id="possuiProRural_N" checked >
                    Não&nbsp;
                  </mat-radio-button>
                  <mat-radio-button value="S" name="possuiProRural" id="possuiProRural_S" >
                    Sim&nbsp;&nbsp;&nbsp;&nbsp;
                  </mat-radio-button>
                </mat-radio-group>
              </span>
              <mat-form-field>
                <input matInput placeholder="Data de Pagamento" name="dataPagamentoCompra" id="dataPagamentoCompra"
                  [matDatepicker]="dataPagamentoCompra" (focus)="dataPagamentoCompra.open()" readonly>
              </mat-form-field>
              <mat-datepicker #dataPagamentoCompra></mat-datepicker>
            </div>
            <div>
              <mat-form-field>
                <textarea matInput placeholder="Observação" name="obsMod" id="obsMod" formControlName="obsMod"></textarea>
              </mat-form-field>
            </div>
          <!--</mat-card-content>
        </mat-card>-->
      </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <!--<mat-card>
              <mat-card-header>
                <mat-card-title>Vendedor</mat-card-title>
                <mat-card-subtitle>Informações do Vendedor</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>-->
                <app-cliente></app-cliente>
              <!--</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Venda</mat-card-title>
              <mat-card-subtitle>Informações de Venda</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>-->
              <div>
                <mat-form-field>
                  <mat-select placeholder="Filial Venda" name="filialVenda" id="filialVenda">
                    <mat-option value="GO">GO</mat-option>
                    <mat-option value="MG">MG</mat-option>
                    <mat-option value="PR">PR</mat-option>
                    <mat-option value="RS">RS</mat-option>
                    <mat-option value="RJ">RJ</mat-option>
                    <mat-option value="SC">SC</mat-option>
                    <mat-option value="SP">SP</mat-option>
                    <mat-option value="OUTROSESTADOS">OUTROS ESTADOS</mat-option>
                    <mat-option value="EXPORTACAO">EXPORTAÇÃO</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Atividade Venda" name="tipoAtividadeVenda" id="tipoAtividadeVenda" formControlName="tipoAtividadeVenda">
                    <mat-option value="PROD">PRODUÇÃO</mat-option>
                    <mat-option value="RACOES">RAÇÕES</mat-option>
                    <mat-option value="GRANJA">GRANJA</mat-option>
                    <mat-option value="HUMANO">HUMANO</mat-option>
                    <mat-option value="EXP">EXP</mat-option>
                    <mat-option value="OUTROS">OUTROS</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                  <span>
                    <label>Frete: </label>
                    <mat-radio-group>
                      <mat-radio-button value="N" name="possuiFreteVenda" id="possuiFreteVenda_N" checked >
                        Não&nbsp;&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button value="S" name="possuiFreteVenda" id="possuiFreteVenda_S" >
                        Sim&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      </mat-radio-button>
                    </mat-radio-group>
                  </span>
                  <mat-form-field>
                    <input matInput type="number" min="1" name="vendaFrete" id="vendaFrete" placeholder="Valor do Frete/Ton" formControlName="vendaFrete">
                  </mat-form-field>
                </div>
                <div>
                  <span>
                    <label>Corr.: </label>
                    <mat-radio-group>
                      <mat-radio-button value="N" name="possuiVendaCorretor" id="possuiVendaCorretor_N" checked >
                        Não&nbsp;&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button value="S" name="possuiVendaCorretor" id="possuiVendaCorretor_S" >
                        Sim&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      </mat-radio-button>
                    </mat-radio-group>
                  </span>
                  <mat-form-field>
                    <input matInput type="number" min="1" name="vendaCorret" id="vendaCorret" placeholder="Valor Comissão" formControlName="vendaCorret">
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-select placeholder="Destino Grão" name="destGrao" id="destGrao" formControlName="destGrao">
                      <mat-option value="ESTOQUE">ESTOQUE</mat-option>
                      <mat-option value="EXPORTACAO">ESPORTAÇÃO</mat-option>
                      <mat-option value="INTERNO">INTERNO</mat-option>
                      <mat-option value="MERCADO INTERNO">MERCADO INTERNO</mat-option>
                      <mat-option value="MS">MS</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Tipo de Venda" name="tpPedido" id="tpPedido" formControlName="tpPedido">
                      <mat-option value="COMERCIAL">COMERCIAL</mat-option>
                      <mat-option value="ESTOQUE">ESTOQUE</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput placeholder="Data de Pagamento" name="dataPagamentoVenda" id="dataPagamentoVenda"
                      [matDatepicker]="dataPagamentoVenda" (focus)="dataPagamentoVenda.open()" readonly>
                  </mat-form-field>
                  <mat-datepicker #dataPagamentoVenda></mat-datepicker>
                </div>
            <!--</mat-card-content>
          </mat-card>-->
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-action-row>
      <button mat-button type="button" color="warn" (click)="prevStep()">Anterior</button>
      <button mat-button type="button" color="primary" (click)="nextStep()">Próximo</button>
    </mat-action-row>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Análise
      </mat-panel-title>
      <mat-panel-description>
        Informações para análise do pedido
        <mat-icon>equalizer</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div style="text-align: center">
        <button type="button" mat-raised-button color="primary" (click)="analisarPedido()">Analisar</button>
    </div>
    <mat-grid-list cols="3">
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Compra</mat-card-title>
            <mat-card-subtitle>Análise da Compra</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <input matInput placeholder="Valor Líquido" name="valorLiq" id="valorLiq">
            </mat-form-field>
            <br/>ICMS: <br/>
            Funrural: <br/>
            Senar: <br/>
            PAT: <br/>
            Valor Bruto: <br/>
            Frete: <br/>
            Imposto sob Frete: <br/>
            Corretagem: <br/>
            Custo da Compra: <br/>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Venda</mat-card-title>
            <mat-card-subtitle>Análise da Venda</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            Custo da Compra: <br/>
            Frete: <br/>
            Imposto sob Frete: <br/>
            Corretagem: <br/>
            ICMS: <br/>
            PIS e COFINS: <br/>
            Valor Final com Impostos: <br/>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Margem</mat-card-title>
            <mat-card-subtitle>Análise de Resultados</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <input matInput name="vendaValorRealTotal" id="vendaValorRealTotal" placeholder="Preço de Venda (à Vista)" formControlName="vendaValorRealTotal">
            </mat-form-field>
            <br/>Custo Total: <br/>
            <mat-form-field>
              <input matInput name="margemTotal" id="margemTotal" placeholder="Margem Total" formControlName="margemTotal">
            </mat-form-field>
            <mat-form-field>
              <input matInput name="margem" id="margem" placeholder="%Margem" formControlName="margem">
            </mat-form-field>
            <br/>
            <span>
              <label>Pagar Juros à Produtor: </label>
              <mat-radio-group>
                <mat-radio-button value="N" name="" id="" checked >
                  Não&nbsp;&nbsp;&nbsp;
                </mat-radio-button>
                <mat-radio-button value="S" name="" id="" >
                  Sim&nbsp;&nbsp;
                </mat-radio-button>
              </mat-radio-group>
            </span>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-action-row>
      <button mat-button type="button" color="warn" (click)="prevStep()">Anterior</button>
      <button mat-button type="button" color="primary" (click)="nextStep()">Fim</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

<!--
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<div class="example-container">
  <mat-form-field hintLabel="Max 10 characters">
    <input matInput #input maxlength="10" placeholder="Enter some input">
    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select me">
      <mat-option value="option">Option</mat-option>
    </mat-select>
    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="First name">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" min="1" placeholder="Age">
  </mat-form-field>
</div>
-->
<br/>
<button type="submit" mat-raised-button color="primary">Salvar</button>
</form>
