<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Cereal Sul</span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="pedidos" mat-button>
          <mat-icon>description</mat-icon>
          Pedidos
        </a>
        <a routerLink="downloads" mat-button>
          <mat-icon>get_app</mat-icon>
          Downloads
        </a>
        <a routerLink="contratos" mat-button>
          <mat-icon>assignment</mat-icon>
          Contratos
        </a>
        <a routerLink="list-user" mat-button>
          <mat-icon>account_box</mat-icon>
          Usuários
        </a>
      </div>
      <div class="filler">&nbsp;</div>
      <div>
        <span><small>Usuário: {{ user.username }}&nbsp;|&nbsp;Perfil: {{ user.perfil }}&nbsp; </small></span>
        <span><small><button mat-raised-button (click)="logout()">Logout</button></small></span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a routerLink="pedidos" mat-list-item>
          <mat-icon>description</mat-icon>
          &nbsp;Pedidos
        </a>
        <a routerLink="downloads" mat-list-item>
          <mat-icon>get_app</mat-icon>
          &nbsp;Downloads
        </a>
        <a routerLink="contratos" mat-list-item>
          <mat-icon>assignment</mat-icon>
          Contratos
        </a>
        <a routerLink="list-user" mat-list-item>
          <mat-icon>account_box</mat-icon>
          Usuários
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Fechar
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>
