<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
<mat-card>
  <mat-card-header>
    <mat-card-title>Usuário</mat-card-title>
    <mat-card-subtitle>Incluir</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <div class="example-container">
        <mat-form-field>
          <input matInput formControlName="nome" placeholder="nome" name="nome" id="nome">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <input matInput formControlName="username" placeholder="login" name="username" id="username">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <input matInput formControlName="password" placeholder="senha" name="password" id="password">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-select placeholder="Perfil" formControlName="perfil" name="perfil" id="perfil">
            <mat-option value="VENDEDOR">VENDEDOR</mat-option>
            <mat-option value="GERENTE">GERENTE</mat-option>
            <mat-option value="ADMIN" *ngIf="user!= null && user.perfil == 'ADMIN'">ADMIN</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Salvar</button>
    <button mat-raised-button color="warn" type="button" (click)="listUser()">Cancelar</button>
  </mat-card-actions>
</mat-card>
</form>
