<mat-form-field class="example-full-width">
    <input type="text" placeholder="Cliente (min 4 letras)" aria-label="Number" matInput [formControl]="clienteCtrl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getClienteByNome($event.option.value)'>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngIf="mostrarDetalhesCliente">
    <input type="hidden" name="idCliente" value="{{cliente.idCliente}}"/>
    <div class="form-group" *ngIf="cliente.cpf != ''">
        PESSOA FÍSICA<br/>
        <label for="cpf">
          CPF: {{cliente.cpf}}
        </label>
    </div>

    <div class="form-group" *ngIf="cliente.cnpj != ''">
        PESSOA JURÍDICA<br/>
        <label for="cnpj">
          CNPJ: {{cliente.cnpj}}
        </label>
    </div>
    <div class="form-group">
        <label for="local">
          Cidade: {{cliente.local}}
        </label>
    </div>
    <div class="form-group">
        <label for="local">
          Estado: {{cliente.regiao}}
        </label>
        <!--
        <mat-select placeholder="Estado" name="regiao" id="regiao" formControlName="regiao">
          <mat-option value="DF">DF</mat-option>
          <mat-option value="GO">GO</mat-option>
          <mat-option value="MG">MG</mat-option>
        </mat-select>
        -->
    </div>
  </div>
  <br/>
